* {
  font-family: Helvetica, sans-serif;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*** begin material global styling ***/
html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/*** end material global styling ***/

.container {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}

.no-select {
  user-select: none;
}

.mat-card {
  display: inline-block;
  background-color: #eee;
  cursor: pointer;
}

.mat-raised-button {
  margin: 0 0 20px 0;
}

.hand-range-list-container {
  max-width: 600px;
}

.piece-in-range {
  background-color: teal;
}